* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background: #024959;
  width: 18rem;
  height: 100vh;

  .title-area {
    background-color: #F2C12E;
    height: 5rem;
    width: 100%;

    h1 {
      font-size: 22px;
    }
  }
  
  .items {
    height: calc(100vh - 104px) !important;
    display: grid;
    align-content: space-between;
    
    .btn-exit-area {
      padding: 1rem;

      .btn-exit {
        background: #FFF;
        height: 3rem;
        width: 100%;
        font-weight: 500;
      }
    }
  }

  .sidebar-items {
    li {
      margin: 1.5rem 1.5rem auto 1.5rem;
      background-color: #0c5f72;
      height: 3rem;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      border-radius: 0.6rem;
      color: #FFF;
      scale: 0.97;
      cursor: pointer;
    }

    li:hover {
      scale: 1;
      transition: .2s;
    }
  }
}

.title {
  background-color: #024959;
  height: 5rem;

  .h1-title {
    padding: 1rem;
    color: #FFF;
  }
}

.content {
  padding: 1.5rem 3rem;
}