<div class="d-flex row">
  <div class="sidebar text-center">
    <div class="title-area d-flex align-items-center justify-content-center">
      <h1>Sistema de Relatórios</h1>
    </div>
    <div class="items">
      <div>
        <ul class="sidebar-items">
          <li [routerLink]="'/registro-regra-imposto'">Registro de Regra de Imposto</li>
          <li [routerLink]="'/cadastro-produto'">Cadastro de Produto</li>
          <li [routerLink]="'/relacao-produto'">Relação de Produto</li>
        </ul>
      </div>
      <div class="btn-exit-area">
        <button class="btn btn-exit" (click)="exit()">Sair</button>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="title">
      <h1 class="h1-title">{{ titlePage }}</h1>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
