<form class="form">
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Senha</label>
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Confirme sua senha</label>
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <button type="submit" class="btn btn-primary">Registrar</button>
  <div id="emailHelp" class="form-text">Já possui conta? <span [routerLink]="'/auth/login'">Entrar</span></div>
</form>