.form-area {
  background-color: #0c5f72;
  padding: .5rem 1rem;
  border-radius: 0.5rem;

  .field-form {
    padding: 0;
    margin: .7rem 1rem;
  }
}

.btn-save {
  margin-top: 1rem;
  background-color: #F2C12E;
  font-weight: 500;
}