<div class="">
  <form>
    <div class="form-area">
      <div class="row">
        <div class="col field-form">
          <input type="text" class="form-control" placeholder="Código">
        </div>
        <div class="col field-form">
          <input type="text" class="form-control" placeholder="Taxa %">
        </div>
      </div>
      <div class="row">
        <div class="col field-form">
          <input type="text" class="form-control" placeholder="Nome">
        </div>
      </div>
    </div>
    <button class="btn btn-save">Gravar</button>
  </form>
</div>
