.btn-generate {
  height: 3rem;
  font-weight: 500;
  background-color: #F2C12E;
}

.btn-clear {
  background-color: #f22e2e;
  color: #FFF;
  font-weight: 500;
  width: 7rem;
}

.table-area {
  background-color: #024959;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 0.6rem;
}