<div class="">
  <div class="d-flex justify-content-between">
      <button class="btn btn-generate">Gerar relátorio</button>
      <button class="btn btn-clear">Limpar</button>
  </div>

  <div class="my-4 mx-1 row">
    <div class="col-md table-area">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

